@charset "UTF-8";
* {
  font-family: 微軟正黑體;
}

body {
  height: 1000px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
}

header.jumbotron {
  margin-bottom: 0px;
  text-align: center;
  background-image: url(https://c1.staticflickr.com/6/5725/22300211758_08a0cdbfd8_b.jpg);
  background-size: cover;
  background-attachment: fixed;
}
header.jumbotron .container {
  color: white;
  padding: 100px 0px;
}
header.jumbotron hr {
  max-width: 300px;
  border: solid 2px #fdb17c;
}
header.jumbotron h4 {
  color: rgba(255, 255, 255, 0.8);
}

section {
  padding: 50px 0px;
}

section#section_ask {
  background-color: #fdb17c;
}
section#section_ask .col-sm-5.img {
  background-image: url(https://c1.staticflickr.com/1/775/21743806331_dc3e69dcab_b.jpg);
  height: 225px;
  background-size: cover;
  mix-blend-mode: multiply;
}
section#section_ask h2 {
  margin-top: 95px;
  padding: 0px 80px;
}

section#section_about img {
  width: 100%;
}
section#section_about .img_wrap {
  height: 170px;
  overflow: hidden;
}
