nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      a.navbar-brand(herf="#") LAMIGO
    .nav.navbar-nav.navbar-right
      li
       a(href="#section_ask") 引言
      li
       a(href="#section_about") 簡介
      li
       a(href="#section_video") 影片
      li
       a(href="https://www.facebook.com/LamigoMonkeys/") 粉絲專頁
header.jumbotron
 .container
  h1 lamigo桃猿
  hr
  h4 一支台灣職業棒球隊，隸屬於中華職棒
section#section_ask
  .container
    .row
      .col-sm-5.img
      .col-sm-7
        h2 何謂lamigo桃猿?
section#section_about
  .container
   .row
     .col-sm-12
       h1 桃猿棒球隊史
       hr
     .col-sm-4
       .img_wrap
        img(src="https://goo.gl/dMqaq4", alt="")
       h3 球團簡介
       p 2003年季末，第一金控將第一金剛轉手賣給聲寶，同年12月16日國內製鞋企業La New出資認養澄清湖棒球場，並循贊助模式經營金剛隊，易名為La New高熊隊，並以澄清湖棒球場為主場；但因為不方便稱呼，而於2004年2月28日更名為La New熊隊。<br>從2005年La New熊爆發假球案黑熊事件始，多次的職棒簽賭案，使得中華職棒的人氣快速的下滑。尤其2009年中華職棒假球事件，導致隔年主場平均觀眾人數大降近三成，加上當年桃園縣政府提供更好的經營條件[3]，2010年底，La New決定將主場遷移至桃園國際棒球場，隔年1月6日更名成「Lamigo桃猿」。
     .col-sm-4
       .img_wrap
        img(src="https://goo.gl/Bhp57N", alt="")
       h3 球團經歷
       p 2010年更名為Lamigo桃猿後，聘請日本職棒經驗豐富的莊勝雄擔任球隊技術顧問，也在2011年、2012年連續兩年下半季奪下了季冠軍。並且在2012年拿下暌違六年的總冠軍，並代表中華職棒參加2012年第六屆亞洲職棒大賽得到亞軍，追平2006年第二屆亞洲職棒大賽以及中華職棒球隊參加亞洲職棒大賽歷屆以來最佳戰績。<br>2018年10月27日，台灣大賽首戰，Lamigo在主場迎戰統一獅隊，於2局下狂攻10分，因此打破中華職棒總冠軍賽的「單局最多得分」、「單局最多打席紀錄」。
     .col-sm-4
       .img_wrap
        img(src="https://goo.gl/cggFoD", alt="")
       h3 Lamigo桃猿時期戰績
       p 年度季冠軍:		2006上、2006下、2007下、2008下、2011下、2012下、2014上、2015上、2017上、2017下、2018上、2018下<br>年度總冠軍:	2006、2012、2014、2015、2017、2018
section#section_video
  .container
    .row
      .col-sm-12
        h1 精彩片段&音樂
        hr
      .col-sm-12
       .embed-responsive.embed-responsive-16by9
         iframe.embed-responsive-item(src='https://www.youtube.com/embed/rBPThu8STxo', allowfullscreen='')